header {
    padding-top: 2rem;
}

.timer-wrap {
    position: relative;
    z-index: 1;
}

.timer-wrap-down {
    position: relative;
    z-index: 1;
    bottom: 0;
}

.timer-second-wrap {
    height: 5.4rem;
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.timer-p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #62a8de;
}
#hoursMob,
#minutesMob,
#secondsMob{
    border: 1px solid rgba(179, 179, 179, 0.2);
    border-radius: 15rem;
    width: 6.7rem;
    height: 3.8rem;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 3rem;
    line-height: 117%;
    text-align: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:0.3rem;
}
#hours,
#minutes,
#seconds{
    border: 1px solid rgba(179, 179, 179, 0.2);
    border-radius: 15rem;
    width: 9.2rem;
    height: 4.2rem;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 3rem;
    line-height: 117%;
    text-align: center;
    background: #fff;
}
.btn-timer{
    width: 39rem;
}
#timer,
#timerMob {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    display: flex;
    gap: 0.8rem;
}
.timer-name p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    color: #b1b1b1;
}
.timer-name{
    display: flex;
    gap: 3.1rem;
    padding-left: 0.5rem;
}
@media(max-width:1199px){
    .timer-p{
        display: none;
    }
    .cont-fixed{
        flex-direction: column;
        padding: 1rem 2rem 0rem 2rem !important;
    }
    .btn-timer{
        width: 33.5rem;
        height: 6.4rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 1rem;
    }
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.8rem;
    position: relative;
    z-index: 1;
}

.price .new {
    font-family: var(--second-family);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    color: #3f3f3f;
}

.price .new span {
    font-family: var(--second-family);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 5.5rem;
    color: #EA5F10;
}

.price .old {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #767676;
}

.price .old span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
    text-align: center;
    color: #767676;
}

.mobile-price-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;
    padding-left: 1rem;
}

.mobile-price-wrap>ul li {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 144%;
    color: #000;
    padding-left: 2.5rem;
}

.mobile-price-wrap>ul li:before {
    content: '';
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 1rem;
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -146%, #eb5658 100%);
}


.hidden {
    display: none;
}

.program {
    margin-top: 8rem;
    margin-bottom: 11.9rem;
    padding-top: 5rem;
    border-radius: 40px;
    background: radial-gradient(55.45% 129.03% at 98.12% 35%, rgba(255, 255, 225, 0.212) -100%, rgba(98, 168, 222, 1) 100%);
    color: #fff;
}

.program .container {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
}

.program h3 {
    color: #fff;
}

.program .subtitle {
    margin-top: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #B8E0FF;
}

.program .program-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;
    color: #000;
    overflow: hidden;
    max-height: 91.7rem;
}

.program .collapse {
    max-height: 461.9rem;
}

.program .program-list li {
    padding: 3.62rem 3rem 5rem 3rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
}
.program .program-list ol li {
    padding: 0;
    border: none;
    box-shadow: none;
}
.program .program-list ol li ul li {
    list-style-type: disc;
}
.program .program-list ol li ul li::marker {
    font-size: 0.7rem;
}
.program .program-list ol li ul{
    padding-left: 1.5rem;
}
.program .program-list ol{
    gap: 1rem;
    display: grid;
    padding-left: 2rem;
    padding-top: 3.3rem;
}


.program .program-list .item-header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.program .program-list .item-header-left {
    display: flex;
    flex-direction: column;
    gap: 1.14rem;
}

.program .program-list .module {
    background: #62A8DE;
    border-radius: 150px;
    width: 15.1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.program .program-list .module-bonus {
    background: linear-gradient(201deg, #fff2af 0%, #efd4a0 100%), radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border-radius: 150px;
    width: 13.1rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #6c623c;
    margin-top: 2.9rem;
    margin-bottom: 2.1rem;
}

.program .program-list .bonus-module {
    width: 22.7rem;
    box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.05);
    background: #ffeeb4;
    margin-top: 0.54rem;
    margin-bottom: 2.8rem;
}

.program .program-list .module-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 133%;
    text-transform: uppercase;
    color: #eb5658;
    margin-left: 1.4rem;
}

.program .program-list .item-header-img {
    width: 8.5rem;
    height: 8.5rem;
}

.program .program-list .item-text {
    margin-top: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    color: #000;
}


.program .open-program-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(4rem);
    cursor: pointer;
}

.program .open-program-btn .program-btn-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    color: #fff;
}

.program .open-program-btn .program-btn-img {
    width: 7.4rem;
}



.btns-wrap {
    position: absolute;
    bottom: 26.9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15.254rem;
}

.guaranty {
    padding-bottom: -3rem;
    background: radial-gradient(55.45% 129.03% at 98.12% 35%, rgba(255, 255, 225, 1) -100%, rgba(98, 168, 222, 1) 100%);
    padding-top: 0;
    border-radius: 4rem;
    height: 33rem;
    margin-top: 4rem;
}

.guaranty img {
    width: 6.4rem;
    margin-top: -4rem;
    margin-bottom: 2.5rem;
    position:relative ;
    left: 50%;
    transform: translateX(-50%);

}

.guaranty p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}
.guarantee-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff6d6;
    margin-bottom: 2.1rem;
}

.FAQ .title {
    margin-bottom: 5rem;
}

.FAQ .accordion-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.FAQ .accordion-item {
    transition: max-height 0.4s ease-out;
    padding: 3rem 0;
    border-bottom: 1px solid #DEDEDE;
    cursor: pointer;
}

.FAQ .accordion-item:first-child {
    border-top: 1px solid #DEDEDE;
}

.FAQ .accordion-header {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.FAQ .accordion-header:before {
    content: '+';
    display: inline-block;
    right: 0;
    top: 0rem;
    font-size: 5rem;
    font-weight: 250;
    position: absolute;
    color: #000;
}

.FAQ .accordion-header p {
    font-weight: 500;
    color: #62A8DE;
    padding-right: 8rem;
    font-size: 1.6rem;
    line-height: 125%;
}

.FAQ .active .accordion-header:before {
    content: '-';
}

.FAQ .active .accordion-content {
    max-height: 50rem;
}

.FAQ .accordion-content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
}

.FAQ .accordion-content p {
    padding-top: 1.5rem;
    color: #000;
    padding-right: 8rem;
}

.FAQ .accordion-header:before {
    content: '';
    background-image: url(../images/+.svg);
    display: block;
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    right: 1.5rem;
}

.FAQ .active .accordion-header:before {
    content: '';
    background-image: url(../images/-.svg);
    display: block;
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
}

footer {
    margin-top: 8rem !important;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-decoration-skip-ink: none;
    color: #0e0e0e;
    padding-bottom: 16.5rem;
}

footer .policy {
    text-decoration: underline;
    margin-bottom: 2rem;
}

footer .footer-top-wrap {
    margin-bottom: 5rem;
}

footer .contact {
    margin-bottom: 2rem;
}

.cont {
    z-index: 10;
    display: none;
}

.cont-fixed {
    position: fixed;
    bottom: 0rem;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    z-index: 15;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 6rem 6rem 0 0;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);
    justify-content: center;
}

@media (min-width: 1200px) {
    header {
        padding-top: 5.3rem;
    }

    .mobile-price-wrap,
    .mobile-bottom-wrap,
    .mobile {
        display: none !important;
    }

    .header-top {
        margin-bottom: 5.74rem;
    }

    .header-top-item {
        gap: 2rem;
        height: 10.8rem;
        width: 29.22rem;
        border-radius: 15px;
        padding-left: 1.5rem;
    }

    .header-top-item img {
        width: 8.43rem;
    }

    .header-top-item .second-img {
        width: 8.86rem;
    }

    .header-top-item p {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .header-top-item span {
        font-size: 1.3rem;
    }

    .title-wrap .sub-text {
        width: 35.2rem;
        bottom: -5.9rem;
        left: 9.3rem;
    }

    .title-wrap .title-img {
        width: 11.2rem;
        top: 5.5rem;
        right: auto;
        left: 54rem;
    }

    .desc-hero-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5.6rem;
        margin-top: 14.7rem;
    }

    .desc-hero-list li {
        position: relative;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 144%;
        color: #000;
        padding-left: 2.5rem;
    }

    .desc-hero-list li:before {
        content: '';
        display: block;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 1.25rem;
        background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -146%, #eb5658 100%);
    }

    .desk-timer-wrap {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 3.8rem;
        border-radius: 150px;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #ddd;
        width: 79.7rem;
        margin-top: 6.2rem;
        height: 13rem;
        padding-left: 1.5rem;
    }
    .price-line{
        border: 1px solid #ddd;
        height: 8.7rem;
        content: "";
    }
    .desc-price-wrap {
        width: 68.7rem;
        position: relative;
        display: flex;
        align-items: center;
        gap: 3.5rem;
        width: 100%;
        
    }
    .price-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1.5rem;
    }

    .desc-price-wrap .price {
        display: flex;
        gap: 2.2rem;
        align-items: center;
    }
    .price-flex-p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 167%;
        text-align: center;
        color: #606060;
    }
    .desc-price-wrap .price .new {
        font-size: 2.5rem;
    }

    .desc-price-wrap .price .new span {
        font-size: 5.5rem;
    }

    .desc-price-wrap .price .old {
        font-size: 2.5rem;
    }

    .desc-price-wrap .price .old span {
        font-size: 4rem;
    }

    .desc-timer {
        width: 44.61rem;
        position: relative;
        z-index: 1;
    }

    .timer-second-wrap {
        height: 12.8rem;
        width: 41.4rem;
        margin: 0 auto;
        border: none;
    }

    #timer {
        font-size: 6.5rem;
    }

    .desk-timer-img {
        position: absolute;
        width: 100%;
    }

    .desk-timer-wrap .btn {
        width: 39rem;
        height: 10rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.2rem;
        line-height: 140%;
    }

    .desk-bonus-wrap {
        padding: 4.3rem 5.7rem 4.7rem 6.2rem;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 2rem;
        line-height: 150%;
        text-align: center;
        color: #000;
        width: 97rem;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    
    
    .desk-bonus-wrap .bonus-content {
        display: flex;
        align-items: center;
        gap: 1.7rem;
    }

    .desk-bonus-wrap .bonus-img {
        width: 13.7rem;
    }

    .desk-bonus-wrap .bonus-text span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 143%;
        color: #eb5658;
    }

    .desk-bonus-wrap .bonus-text {
        font-family: var(--font-family);
        font-size: 2.5rem;
        line-height: 143%;
        font-weight: 400;}

    .program {
        padding-top: 9rem;
        margin-bottom: 21.4rem;
        width: 100vw;
        max-width: 1900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 190rem;
    }

    .program .container {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        max-width: 1202px;
    }

    .program .subtitle {
        font-size: 2.5rem;
        line-height: 120%;
    }

    .program .program-list {
        margin-top: 7rem;
        max-height: 207rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .program .program-list ol li{
        width: 100%;
        min-height: 100% !important;
    }



    .program .open-program-btn {
        transform: translateY(7rem);
    }

    .program .program-list li {
        position: relative;
        width: 37rem;
        min-height: 43rem !important;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 139%;
        color: #000;
    }

    .program .program-list .module {
        border-radius: 150px;
        width: 16.6rem;
        height: 4.8rem;
        top: 7rem;
        left: 7rem;
        font-size: 1.6rem;
    }

    .program .program-list .item-header-img {
        top: 16.4rem;
        left: 7rem;
        width: 13.7rem;
        height: 13.7rem;
    }

    .program .program-list .module-title {
        top: 8.6rem;
        left: 30rem;
        font-size: 2.5rem;
        margin: 0;
    }

    .program .program-list .item-text {
        font-size: 1.8rem;
        line-height: 167%;
        margin: 0;
    }

    .program .program-list li:nth-child(3) .item-text {
        width: 59.18rem;
    }

    .program .program-list li:nth-child(4) .item-text,
    .program .program-list li:nth-child(5) .item-text,
    .program .program-list li:nth-child(6) .item-text,
    .program .program-list li:nth-child(7) .item-text,
    .program .program-list li:nth-child(8) .item-text,
    .program .program-list li:nth-child(10) .item-text {
        width: 48.7rem;
    }

    .program .program-list li:nth-child(9) .item-text {
        width: 44rem;
    }

    .program .program-list li:nth-child(11) .item-text {
        width: 74rem;
    }

    .program .program-list li:last-child .bonus-module {
        top: 7rem !important;
        left: 30rem !important;
        margin: 0;
        width: 28.5rem;
    }

    .program .program-list li:last-child .module-title {
        top: 16.5rem !important;
        left: 30rem !important;
    }

    .program .program-list li:last-child .item-text {
        margin-top: 5.4rem;
    }

    .program .open-program-btn {
       display: none; 
    }


    .btns-wrap {
        width: 31.3rem;
        left: 75%;
    }

    .guaranty {
        width: 117rem;
        height: 32rem;
    }

    .guaranty .guaranty-content-wrap {
        display: flex;
        gap: 5.9rem;
        flex-direction: row-reverse;
        margin-top: 7rem;
        justify-content: center;
    }
    
    .guaranty img {
        width: 9.8rem;
        margin: 0;
        top: -7rem;
        margin-top: 0rem;
        margin-bottom: -4rem;
    }
    
    .guaranty p {
        font-size: 1.8rem;
        line-height: 139%;
        padding-right: 17.3rem;
        padding-left: 17.3rem;
    }
    .guarantee-title{
        font-size: 2.5rem;
    line-height: 80%;
    margin-bottom: 3rem;
    }
    .FAQ .title {
        margin-bottom: 10.7rem;
    }

    .FAQ .accordion-item {
        padding: 4rem 0;
    }

    .FAQ .accordion-header p {
        font-size: 2rem;
    }

    .FAQ .accordion-content p {
        font-size: 1.8rem;
        line-height: 167%;
        padding-right: 30rem;
    }

    .FAQ .accordion-header:before {
        content: '';
        background-image: url(../images/+.svg);
        display: block;
        background-size: contain;
        background-position: center;
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        right: 1.5rem;
    }

    .FAQ .active .accordion-header:before {
        content: '';
        background-image: url(../images/-.svg);
        display: block;
        background-size: contain;
        background-position: center;
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        line-height: 167%;
    }

    footer .footer-bottom-wrap {
        
    }

    footer .contact {
        margin-bottom: 3rem;
    }

    footer .policy {
        margin-top: 8rem;
    }

    footer .big-text {
        font-size: 1.3rem;
        line-height: 167%;
        width: 37rem;

    }
    footer .footer-top-wrap {
        width: 30rem;

    }

    footer .secur {
        margin-top: 5rem;
        max-width: 47rem;
    }

    .bottom-bg-wrap {
        background-image: url(../images/bg3-desk.jpg);
        background-size: 1900px;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .overlay iframe {
        width: 70%;
        aspect-ratio: 1280 / 720;
    }
}


@media(max-width: 1199px) {
    header {
        background-image: url(../images/mob-header-bg.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 1.3rem;
        position: relative;
        z-index: 1;
        margin-bottom: -32rem !important;
    }

    .for-whom {
        padding-top: 42rem;
    }

    .for-whom .wrap-1 li {
        background: transparent;
        border: none;
        box-shadow: none;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        height: auto !important;
    }

    .for-whom .wrap-1 ul img {
        width: 10rem;
        height: 10rem;
        margin: 0;
    }

    .for-whom .wrap-1 .top-text {
        text-align: left;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 125%;
        text-transform: uppercase;
        color: #eb5658;
        margin-bottom: 2.1rem;
    }

    .for-whom .wrap-1 .bottom-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 143%;
        color: #000;
        text-align: left;
    }

    .desk-timer-wrap,
    .desk-bonus-wrap,
    .desc-hero-list,
    .desk {
        display: none !important;
    }

    .header-top {
        margin-bottom: 1.49rem;
    }

    .header-top-item {
        border-radius: 150px;
        background: #fff;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
        width: 10.3rem;
        height: 3.8rem;
        display: flex;
        align-items: center;
        padding-left: 1.9rem;
    }

    .header-top-item:nth-child(2) {
        width: 12.9rem;
    }

    .header-top-item img {
        display: none;
    }

    .header-top-item p {
        font-size: 1.4rem;
        margin-bottom: -0.21rem;
    }

    h1 {
        font-size: 4rem !important;
        line-height: 100% !important;
    }

    .title-wrap .title-img {
        display: none;
    }

    .title-wrap .sub-text {
        width: 16.4rem;
        position: absolute;
        bottom: -3.6rem;
        left: 0;
        z-index: 1;
    }

    .mobile-price-wrap {
        margin-top: 23.3rem;
    }



    footer .fop {
        margin-bottom: 2.5rem;
    }

    footer .footer-top-wrap {
        margin-bottom: 2.5rem;
    }
    footer .secur {
        margin-bottom: 5rem;
    }

    footer .contact {
        margin-bottom: 0;
    }

    footer .footer-bottom-wrap {
        margin-bottom: 5rem;
    }

    footer .big-text {
        font-size: 1.3rem;
    }

    footer {
        padding-bottom: 20.5rem;
    }
}
.uptext{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 167%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #606060;
    margin-bottom: 7rem;
}
.header-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #62a8de;
}
.downtext-div{
    display: flex;
    gap: 2.7rem;
    margin-top: 7.7rem;
}
.downtext{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #7b7b7b;
}
.downtext-div img{
    width: 6rem;
}
.num-wrap{
    display: flex;
    margin-top: 5rem;
    gap: 2.8rem;
}
.num-div{
    display: flex;
    align-items: flex-start;
}
.num-div p{ 
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 139%;
color: #000;
}
.header-end{
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgba(255, 255, 225, 0.212) -100%, rgba(98, 168, 222, 1) 100%);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    width: 77rem;
    height: 22rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 4.6rem;
    padding-right: 4.6rem;
}
.header-end p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 2rem;
line-height: 140%;
text-align: center;
color: #fff;
}
.c2-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.9rem;
    margin-top: 7rem;
}
.c2-wrap{
    display: flex;
    width: 37rem;
    gap: 2.1rem;
    margin-bottom: 3rem;
}
.c2-wrap img{
    width: 10rem;
    height: 10rem;
}
.c2-wrap p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 139%;
    color: #000;
    
}
.time-wrap{
    width: 117rem;
    height: 53rem;
    background-image: url(../images/time-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 7rem 56rem 0rem 7rem;
    margin-top: 12rem;
}
.title-time{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 62%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 6rem;

}
.time-div{
    display: flex;
    align-items: flex-start;
    gap: 1.8rem;
}
.time-grad{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgba(239,212,160,1) 0%, rgba(255,242,175,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 17rem;
    margin-bottom: 2.4rem;
}
.time-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    color: #fff;
}
.author{
    display: flex;
    justify-content: space-between;
    gap: 5.2rem;
}
.author-img{
    border: 1rem solid #fff;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
}
.author-name{
    font-family: 'Miama Nueva';
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #62a8de;
    margin-top: 4.5rem;
    margin-bottom: 6.6rem;
}
.author-about{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 150%;
    color: #62a8de;
}
.author-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: #000;
    
}
.what-wrap{
    display: flex;
    gap: 15rem;
    margin-top: 9.5rem;
}
.what{
    width: 78.3rem ;
    padding-left: 8.7rem;
}
.what-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 2.5rem;
line-height: 140%;
text-transform: uppercase;
color: #62a8de;
margin-bottom: 6rem;
}
.what-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 139%;
    color: #000;
}
.what-text-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 139%;
    color: #000;
}
.what-accent{
    font-weight: 600;
}
.what-list{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
}
.expert{
    width: 100%;
    height: 57.1rem;
    background-image: url(../images/expert.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6.8rem 55.2rem 0rem 7.2rem;
    margin-top: 9rem;
}
.title-expert{
    font-family: var(--second-family);
font-weight: 400;
font-size: 6.5rem;
line-height: 100%;
text-transform: uppercase;
color: #fff;
margin-bottom: 6rem;

}
.expert p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 139%;
color: #fff;
padding-right: 11rem;
}
.mrgn{
    margin-bottom: 5rem;
}
.how-to-study{
    width: 100vw;
        max-width: 190rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 81rem;
        margin-bottom: 15rem;
        
}
.hts-bg{
    background-image: url(../images/how-to-study.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 81rem;
    width: 100%;
    border-radius: 8rem;
    padding: 10rem 0rem 10rem 0rem;
}
.title-hts{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6.5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 6.9rem;
    width: 59rem;
}
.hts-wrap{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    width: 59.9rem;
}
.hts-wrap img{
    width: 6rem;
}
.hts-wrap p{
    font-family: var(--font-family);
font-weight: 400;
font: 400 1.8rem var(--font-family), sans-serif;
line-height: 139%;
color: #000;
}
@media(max-width:1599px){
    .title-hts{
        margin-bottom: 4.9rem;
        font-size: 6rem;
    } 
    .hts-bg{
        padding: 13rem 0rem 10rem 0rem;
    }
    .hts-wrap p{
        font: 400 1.6rem var(--font-family), sans-serif;
    }
}
.instr{
    display: none;
}
.what-get{
    display: none;
}
.bg5{display: none;}

@media(max-width:1199px){
    .header-title{
        font-size: 5rem;
        line-height: 94%;
        text-align: center;
        margin-top: 36rem;
    }
    .uptext{
        font-size: 1.4rem;
        text-align: center;
    }
    .downtext-div{
        display: none;
    }
    .downtext-div-mob{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.8rem;
        margin-bottom: 2.4rem;
    }
    .downtext{
        font-size: 1.4rem;
        line-height: 214%;
        font-weight: 600;
    }
    .num-wrap{
        flex-direction: column;
        gap: 3rem;
        margin-top: 8rem;
    }
    .num-div p{
        font-size: 1.4rem;
    }
    .header-end{
        width: 37rem;
        height: 17.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header-end p{
        font-size: 1.4rem;
    }
    .c2-div{
        gap: 0rem;
        margin-top: 5rem;
    }
    .c2-wrap p{
        font-size: 1.4rem;
    }
    .c2-wrap{
        align-items: center;
    }
    .time-wrap{
        width: 42.7rem;
        height: 60.4rem;
        padding: 4rem 0rem 0rem 0rem;
        background-image: url(../images/time-bg-mob.png);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .title-time{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 111%;
    text-align: center;
    margin-bottom: 3rem;

    }
    .time-grad{
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    padding-right: 10rem;
    padding-left: 10rem;
    }
    .time-text{
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .time-div{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .author-mob{
        width: 100%;
    }
    .author{
        display: none;
    }
    .what-wrap{
        flex-direction: column;
        margin-top: -6rem;
        gap: 3.5rem;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .what{
        width: 100%;
        padding-left: 0;
    }
    .what-title{
        font-size: 2rem;
        line-height: 125%;
        text-align: center;
        margin-bottom: 3.4rem;
    }
    .what-text{

        font-size: 1.4rem;

    }
    .what-list{
        align-items: flex-start;
    }
    .what-list img{
        width: 2.4rem;
    }
    .what-text-p{
        text-align: center;
        font-size: 1.4rem;
    }
    .expert{
        width: 100%;
        height: 55.7rem;
        background-image: url(../images/expert-mob.jpg);
        padding: 5rem 4rem 0rem 4rem ;
    }
    .title-expert{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3.4rem;
    }
    .expert p{
        font-size: 1.4rem;
        padding-right: 0;
    }
    .mrgn{
        margin-bottom: 3.4rem;
    }
    .hts-bg{
        background-image: url(../images/how-to-study-mob.jpg);
        width: 42.8rem;
        background-size: 42.8rem;
        height: 91.8rem;
        border-radius: 0;
        padding-right: 3.6rem;
        padding-left: 3.6rem;
    }
    .hts-wrap{
        width: 36.1rem;
    }
    .hts-wrap p{
        width: 36.1rem;
        font-size: 1.4rem;
    }
    .title-hts{
        width: 100%;
        font-size: 4.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        text-align: center;
        margin-top: -30rem;
        margin-bottom: 13rem;
    }
    .hts-wrap img{
        width: 6rem;
    }
    .how-to-study{
        width: 100%;
        margin-top: 30rem;
    }
    .instr{
        display: block;
    }
    .instruments-title{
        font-family: var(--font-family);
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #62a8de;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 6rem;
    margin-bottom: 3.7rem;
    }
    .instruments{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.3rem;
    }
    .instr-wrap{
        display: flex;
        align-items: flex-start;
        gap: 1.3rem;
        width: 17rem;
    }
    .instr-text{
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #000;
    margin-top: 5rem;
    }
    .what-get{
        display: block;
    }
    .what-get-after{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
    .wga-wrap{
        display: flex;
        align-items: flex-start;
        gap: 1.3rem;
    }
    .wga-wrap p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 143%;
        color: #000;
    }
    .bottom-bg-wrap{
        background-image: url();
    }
    .bg5{
        display: block;
        position: relative;
        z-index: -1;
        width: 100%;
        margin-top: -5rem;
        margin-bottom: -75rem;
    }
}
@media(min-width:1200px){
    .downtext-div-mob{
        display: none;
    }
    .mob-price-wrap{
        display: none;
    }
    .author-mob{
        display: none;
    }
}
